<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{% block stylesheets %}
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
		{% endblock %}

		{% block javascripts %}{% endblock %}
	</head>
	<body>
		{% block header %}
			<nav class="navbar navbar-expand-lg bg-body-tertiary">
				<div class="container-fluid">
					<a class="navbar-brand" href="#">Home</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
							<li class="nav-item">
								<a class="nav-link active" aria-current="page" href="{{ path('app_article_index')}}">Tous les articles</a>
							</li>
							<li class="nav-item">
								<a class="nav-link active" aria-current="page" href="#">Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link active" aria-current="page" href="#">Home</a>
							</li>
						</ul>

						<ul class="navbar-nav mb-2 mb-lg-0 d-flex align-items-center">
							{% if app.user %}

								{# <p>Bonjour {{ app.user.firstname }} {{ app.user.lastname }}</p> #}
								<p class="m-0">Bonjour
									{{ app.user }}
								</p>

								<a href="{{ path('app_logout') }}" class="btn btn-primary">Se déconnecter</a>

							{% endif %}

							{% if app.user == null %}
								<li class="nav-item">
									<a class="nav-link active" aria-current="page" href="{{ path('app_login')}}">Se connecter</a>
								</li>
								<li class="nav-item">
									<a class="nav-link active" aria-current="page" href="{{ path('app_register')}}">S'inscrire</a>
								</li>
							{% endif %}

						</ul>
					</div>
				</div>
			</nav>
		{% endblock %}


		<div class="container">
			{% for type, messages in app.session.flashbag.all() %}
				{% for message in messages %}
					{% if type == 'success' %}
						<div class="alert alert-primary" role="alert">
							{{ message }}
						</div>
					{% elseif type == 'danger' %}
						<div class="alert alert-danger" role="alert">
							{{ message }}
						</div>
					{% endif %}

				{% endfor %}
			{% endfor %}

			{% block body %}{% endblock %}
		</div>


		{% block footer %}
			<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
				<div class="col-md-4 d-flex align-items-center">
					<a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
						<svg class="bi" width="30" height="24">
							<use xlink:href="#bootstrap"></use>
						</svg>
					</a>
					<span class="mb-3 mb-md-0 text-muted">©
						{{ "now"|date("Y") }}
						Company, Inc</span>
				</div>

				<ul class="nav col-md-4 justify-content-end list-unstyled d-flex me-5">
					<li class="ms-3">
						<a class="text-muted" href="#">
							<i class="fa-brands fa-facebook"></i>
						</a>
					</li>
					<li class="ms-3">
						<a class="text-muted" href="#">
							<i class="fa-brands fa-twitter"></i>
						</a>
					</li>
					<li class="ms-3">
						<a class="text-muted" href="#">
							<i class="fa-brands fa-instagram"></i>
						</a>
					</li>
				</ul>
			</footer>
		{% endblock %}
	</body>
</html>
